.logo {
    width: 100%;
}

.nav-phone {
    color: #020033;
}

header {
    background-image: url('./assets/images/background_with_conditioner.jpg');
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
    width: 100%;
}

/* REFACTOR THIS */

header p {
    color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 30px;
}

main {
    background-color: #050422;
}

.about-button {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.about p {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 1.5em;
    overflow-wrap: break-word;
}

.offer p {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 1.5em;
}

footer .map {
    min-height: 50vh;
}

footer .address {
    text-align: center;
}

footer .address ul {
    text-align: center;
    list-style-type: none;
}

footer .address .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: honeydew;
}

footer .address .fa:hover {
    opacity: 0.7;
}

footer .form p {
    text-align: center;
}

.social-icons {
    background-image: url('./assets/images/backgorund_colors_1.jpg');
    background-size: cover;
}

.form i {
    font-size: 10vh;
}

/* IF TIME add to proper elements */
html {
    scroll-padding-top: 250px; /* height of sticky header */
}

.carousel-image {
    width: 35%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {
    .carousel-image {
        width: 125%;
    }
}

@media only screen and (max-width: 992px) {
    .logo {
        width: 25%;
    }

    .carousel-image {
        width: 60%;
    }
}

@media only screen and (max-width: 480px) {
    .carousel-image {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-image {
        width: 75%;
    }
}
